/* Header style */

header{
    background-color: var(--dark-background-solid);
}

.navbar-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: var(--spacing-28) var(--spacing-128);
}

.navbar-logo{
    max-width: 300px;
    min-width: 200px;
}

.navbar-menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar-link{
    font-size:var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar-link-shop i{
    font-size:var(--font-medium);
    align-self: center;
}

.with-submenu:hover .navbar-link-shop {
    background-color: var(--primary-solid);
    transition: background .3s ease-in-out;
}

.with-submenu:hover .submenu {
    display: block;
}

.with-icon{
    padding-right: .3rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

.submenu{
    display: none;
    position: absolute;
    background-color: var(--dark-background-solid);
    z-index: 5;
}

.submenu-item{
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
}

.submenu-item:hover{
    background-color: var(--primary-900);
    transition: background .3s ease-in-out;
}

.navbar-link:hover{
    background-color: var(--primary-900);
    transition: background .3s ease-in-out;
}

.navbar-bars{
    display: none;
}

.cart-icon-mobile{
    display: none;
}

/* Header style end*/

/*---------------*/
/*  Responsive  */
/*--------------*/

/* Phone and Tablet */

@media screen and (max-width:1000px) {

    /* Header style */

    header{
        background-color: var(--dark-background-solid);
        padding: var(--spacing-8) var(--spacing-24);
    }
    
    .navbar-header{        
        padding: var(--spacing-8);
        gap: var(--spacing-20);
    }
    
    .navbar-logo{
        max-width: 150px;
    }

    .inactive{
        display: none;
    }

    .active{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: var(--spacing-68);
        left: 0;
        align-items: center;
        padding-top: var(--spacing-16);
        gap: var(--spacing-16);
        z-index: 3;
        background-color: var(--primary-solid);
    }

    .active .with-submenu, .contact, .login{
        display: unset;
    }

    .with-submenu:hover .navbar-link-shop {
        background-color: var(--dark-background-solid);
        transition: background .3s ease-in-out;
    }

    .with-submenu:hover .submenu {
        display: none;
    }

    .active .submenu{
        display: none;
        position: unset;
    }

    .active li{
        padding-top: var(--spacing-12);
    }

    .active .navbar-link:hover{
        background-color: var(--dark-background-solid);
        transition: background .3s ease-in-out;
    }

    .active .cart-icon{
        display: none;
    }

    .cart-icon-mobile{
        display: unset;
    }

    .navbar-bars{
        display: unset;
        font-size: medium;
    }

    /* Header style end */
}

@media screen and (max-width:400px) {
    
    /* Header style */
    
    header{
        padding: var(--spacing-8);
    }

    /* Header style end */
}

/* Phone and Tablet end */