<!--Header section with NavBar-->
<%- include('./components/general/header.ejs') %>
<!--Header section with NavBar end-->

<!--Main content section-->
<main>
    <div class="contact-wrapper container">
        <section class="contact-left-side">
            <div class="contact-info-container">
                <div class="contact-info-subcontainer">
                    <i class="fa-solid fa-phone fa-2xl"></i>
                    <h3 class="contact-info-title">TELÉFONO</h3>
                </div>
                <p class="contact-info-main">+54 011 4736-6830</p>
                <p class="contact-info-secondary">+54 011 4906-6880</p>
            </div>
            <div class="contact-info-container">
                <div class="contact-info-subcontainer">
                    <i class="fa-solid fa-envelope fa-2xl"></i>
                    <h3 class="contact-info-title">CORREO</h3>
                </div>
                <p class="contact-info-main">cacfunkoshop@gmail.com</p>
                <p class="contact-info-secondary">info.funkoshopcac@gmail.com</p>
            </div>
            <div class="contact-info-container">
                <div class="contact-info-subcontainer">
                    <i class="fa-solid fa-location-dot fa-2xl"></i>
                    <h3 class="contact-info-title">UBICACIÓN</h3>
                </div>
                <p class="contact-info-main">Recoleta, C1334</p>
                <p class="contact-info-secondary">CABA</p>
            </div>
        </section>
        <section class="contact-right-side">
            <h1 class="contact-title title">CONTÁCTANOS</h1>
            <div class="contact-inputs">
                <input class="contact-input-name" type="text" placeholder="Nombre Completo">
                <input class="contact-input-email" type="email" placeholder="Email">
                <input class="contact-input-about" type="text" placeholder="Asunto">
                <textarea class="contact-input-message" name="" id="" cols="30" rows="10" placeholder="Escriba Su Mensaje..."></textarea>    
            </div>
            <button class="contact-button">Enviar</button>
        </section>
    </div>
</main>
<!--Main content section end-->

<!--Footer section-->
<%- include('./components/general/footer.ejs') %>
<!--Footer section end-->