    <!--Footer section-->
    <footer>
        <nav class="navbar-footer container">
          <ul class="footer-navbar-menu">
            <li class="navbar-item">
              <a class="navbar-link" href="/shop">SHOP</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/auth/login">INGRESAR</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="/contact">CONTACTO</a>
            </li>
          </ul>
          <picture class="footer-img">
            <img src="/images/branding/isotype.svg" alt="Isotipo de Funkoshop">
          </picture>
        </nav>
        <p class="footer-copyright">
          All rights reserved 2023 - Funkoshop &copy;
        </p>
      </footer>
      <!--Footer section end-->
  
      <!--Scripts section-->
      <script src="/js/menu-toggle-admin.js"></script> 
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="/js/sweetAlert.js"></script>
      <!--Scripts section end-->
  </body>

</html>