<%- include('../components/general/header-admin.ejs') %>
    <main>
        <section id="section-register__person" class="container">
            <div class="section-register__titles">
                <h2 class="register__title title">CREA TU CUENTA</h2>
                <p class="register__subtitle">Completa el formulario para ser parte del mundo de los Funkos</p>
            </div>
            <% if (typeof errors != 'undefined') { %>
                <ul class="req-messages">
                  <% errors.forEach(error => { %>
                  <li class="req-messages__error">ERROR: <%= error.msg %></li>
                  <% }) %>
                </ul>
            <% } %>
            <div id="container-form__register">
                <form action="/auth/register" method="post" id="formRegister" class="formRegister">

                    <div class="container--labelsAndInputs">
                        <div class="container--labels">
                            <label for="name" class="label-register">Nombre:</label>
                            <label for="lastName" class="label-register">Apellido:</label>
                            <label for="email" class="label-register">Email:</label>
                            <label for="password" class="label-register">Contraseña:</label>
                            <label for="repPassword" class="label-register">Repita Contraseña:</label>
                        </div>
                        <div class="container--inputs">
                            <input name="name" id="name" type="text" placeholder="John" class="input-register" required>
                            <input name="lastname" id="lastName" type="text" placeholder="Doe" class="input-register" required>
                            <input name="email" id="email" type="email" placeholder="johndoe@correo.com"
                                class="input-register" required>
                            <input name="password" id="password" type="password" placeholder="●●●●●●●●●●"
                                class="input-register" required>
                            <input name="password_confirmation" id="repPassword" type="password" placeholder="●●●●●●●●●●"
                                class="input-register" required>
                        </div>
                    </div>

                    <div class="container--form__termAndCondi">
                        <button type="submit" class="btn-register">Registrar</button>
                        <div class="termAndCondi--Button">
                            <input id="termAndCondi" name="termAndCondi" type="checkbox">
                            <label for="termAndCondi" class="termAndCondi">Acepta <a href=""
                                    class="linkToTermAndCondi">Terminos y Condiciones</a></label>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
<%- include('../components/general/footer-admin.ejs') %>